In [2]:
import pandas as pd

### Tipos de dados faltantes:
1. Dado faltante completamente aleatório
2. Dado faltante aleatório
3. Dado faltante não aleatório

## 1. Dado faltante completamente aleatório:
- É quando o motivo dos valores dessa variável serem faltantes não dependem de nenhum outro valor, seja da própria variável ou de outra distinta.
- Exemplo:

## 2. Dado faltante aleatório:
- É quando o motivo dos valores dessa variável serem faltantes dependem de valores de outras variáeis.
- Exemplo:

## 3. Dado faltante não aleatório:
- É quando o motivo dos valores dessa variável serem faltantes é conhecido.

### Quando e como deletar os dados faltantes
- Deletar quando os valores são completamente aleatórios, caso contrário, pode substituir usando algum método

### Deletando dados faltantes da variável

In [4]:
diabetes=pd.read_csv("../dados/pima-indians-diabetes data.csv", sep=",")
diabetes

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0.0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63,0.0
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,0.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30,0.0
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,1.0
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,0.0

In [5]:
diabetes.isna().mean()

Pregnant             0.000000
Glucose              0.006510
Diastolic_BP         0.045573
Skin_Fold            0.295573
Serum_Insulin        0.486979
BMI                  0.014323
Diabetes_Pedigree    0.000000
Age                  0.000000
Class                0.000000
dtype: float64

In [8]:
# Deletando valores faltantes da variável Glucose usando a função dropna()
diabetes.dropna(subset=["Glucose"], inplace=True, how="any")

In [9]:
diabetes.isna().mean()

Pregnant             0.000000
Glucose              0.000000
Diastolic_BP         0.045872
Skin_Fold            0.297510
Serum_Insulin        0.484928
BMI                  0.014417
Diabetes_Pedigree    0.000000
Age                  0.000000
Class                0.000000
dtype: float64